<html>
<head>
    <title>My Django blog</title>
</head>
<body>
<div>
    <h1><a href="">На головну</a></h1>
</div>
<div>
    <p>published: 14.05.2020, 12:14</p>
    <h2><a href="">My first post</a></h2>
    <p>HTML - це простий код, що інтерпретується вашим веб браузером (таким як
        Chrome, Firefox чи Safari) для відображення веб сторінки для користувача.
        HTML розшифровується як "Мова розмітки гіпертексту". Гіпертекст означає тип тексту, який
        підтримує гіперпосилання між сторінками. Розмітка (англ. markup) означає, що ми отримали
        документ із розміченим кодом для того, щоб повідомити комусь (у даному випадку, браузеру)
        як треба інтерпретувати сторінку.</p>
</div>
<div>
    <p>published: 15.05.2020, 10:54</p>
    <h2><a href="">My second post</a></h2>
    <p>A QuerySet є, по суті, списком об'єктів заданої моделі Model. QuerySet
        дозволяє вам считувати дані з бази даних, а також фільтрувати і впорядковувати їх.</p>
</div>
</body>
</html>
